.header {
  grid-column: 1/3;
}

.content {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1280px;
  max-height: 56px;
}

.navbar {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: green;
}

.link {
  text-decoration: none;
  color: green;
}